
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    /* position: fixed; */
    width: 100%;
    margin-top: 0px;
    box-shadow: 1px 3px 33px -10px rgba(0, 0, 0, 0.334);
}
.lang{
    display: flex;
    flex-direction: row;

}
#locate{
    
    border: none;
    font-size: 14px;
    width: 105px;
    position: relative;
    margin-right: 40px;
    background: transparent;
    /* background-color: red; */
    transition-duration: 0.3s;
&:hover{
    scale: 1.1;
}
}

#findfood{
    border: none;
    font-size: 14px;
    width: 105px;
    position: relative;
    margin-right: 20px;
    background: transparent;
    background-color: #ff2b85;
    padding: 9px;
    color: #fff;
    border-radius: 10px;
    /* background-color: red; */
    transition-duration: 0.3s;

    &:hover{
        scale: 1.1;
        background-color: #b0084e;
    }

}


#langoption{
    width: 18px;
    border: none;
    &:active {
      border: none;
    }
    &:visited {
      border: none;
    }
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F7F7F7;
    /* padding: 10px 0; */
    z-index: 1000;
    /* position: fixed; */
    box-shadow: -2px 0px 89px 1px rgba(0,0,0,0.59);
}
.leftside{
    padding-left: 40px;
}
.form-login{
    padding-top: 300px;
    padding-right: -300px;
    position: relative;
    z-index: 1000;
}
#login {
    padding: 3px 15px;
    outline: none;
    font-size: 14px;
    line-height: 22px;
    color: #ff2b85;
    font-weight: 600;
    font-family: "Open Sans", serif;
    border-radius: 10px;
    border: 0.5px solid black;
    background-color: transparent;
    transition: 0.4s ease-in-out;

    &:hover{
        background-color: #ff2b85;
        color: #fff;
    }
}

#buttonsignin{
    
    padding: 3px 15px;
    outline: none;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    font-family: "Open Sans", serif;
    border-radius: 10px;
    border: 0.5px solid black;
    background-color: #ff2b85;
    transition: 0.4s ease-out;

    &:hover{
        background-color: #fff;
        color: #ff2b85;
    }
}

#langoption{
    color: #ff2b85;
    transition: 0.4s ease-out;
 &:active{
    color: black;
    border:none ;
    box-shadow: none;
    background-color: transparent;
    outline: none;
 }
}

#shoopingbag{
    transition: 0.5s ease-out;
    &:hover{
        color: #ff2b85;
    }
}

#rightside{
    padding: 10px 0px;
   padding-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    width: 50%;
}
#rightside>button{
    margin-right: 18px;
}
.lang > label+select{
    margin-right: 10px;
    background-color: transparent;
}

#langsection> a {
    color: black;

}

.hero-section{
    /* margin-top: 100px; */
    background-color: #F7F7F7;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-evenly;
}

.heroleft{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-left: 6vh;
}
.heroleft >h1{
    margin-top: 35%;
    font-size: 7vh;
    font-weight: 700;
    word-spacing: -1px;
    padding-left: 30px;
    /* width: 80vh; */
    letter-spacing: -1px;;
    line-height: 52px;
      font-family: "Open Sans", serif;
    color: rgb(51, 51, 51);
}
.box-section{
    width: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    
    border-radius: 30px;
    padding: 10px ;
    box-shadow: -2px 0px 45px -13px rgba(0,0,0,0.82);

}

.box-section > input{
    width: 80%;
    height: 50px;
    border-radius: 20px;
    border: 0.5px dashed black;
    outline: none;
    background-color: transparent;
    padding: 5px;
    color: black;
    transition: border 0.3s ease;
    &:active{
        border: none;
    }
    
    &:focus{
        border: none;
    }
    
}
.box-section > input::placeholder {
    color: rgba(0, 0, 0, 0.559);
    transition: color 7s ; 
    padding: 20px;
    font-size: 14px;
    transition: border 0.5s;
  }
  .box-section > input:active::placeholder{
    border: none;
  }
  .box-section > input:focus::placeholder {
    color: transparent;
    border: none;
  }

.heroright{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;

}
.heroright > img{
    width: 200vh;
    flex-wrap: nowrap;
}
.caption{
    margin-top: 5%;
    font-size: 7vh;
    font-weight: 700;
    word-spacing: -1px;
    padding-left: 30px;
    /* width: 80vh; */
    letter-spacing: -1px;;
    line-height: 52px;
      font-family: "Open Sans", serif;
    color: rgb(51, 51, 51);

}

.imgchief>img{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background-position: center center;
    object-fit:cover ;
    margin: 0 auto;
    position: center;
    display: inline-block;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: block;
    margin: auto;
}

.boxcontent{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: -40vh;
    border-radius: 30px;
    /* margin: 10vh 15vh; */
    min-width:  40%;
    max-width: 40%;
    margin-left: 20vh;
    padding: 5vh;
    background-color: #f7f7f7f5;
    transition-duration: 1s;
    border: none;
    box-shadow: 3px 1px 52px 1px rgba(0, 0, 0, 0.733);


    &:hover{
        box-shadow: 3px 1px 100px 1px rgba(0, 0, 0, 0.763);
    }
}
.boxcontent p{
    font-size: 2lvh;
}

.caption{
    font-weight: 700;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boxcontent>a> button{
    padding: 10px 15px;
    outline: none;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    font-family: "Open Sans", serif;
    border-radius: 10px;
    border: none;
    background-color: #ff2b85;
    transition: 0.4s ease-out;

    &:hover{
        background-color: #a60749;
        scale: 1.1;

    }
    &:active{
        background-color: #dd216f;
        scale: 1.2;
    }
}

.cities {
    margin-top: 8rem;
  }
  
  .cities .container {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
    overflow-x: scroll;
    justify-content: start;
    align-items: center;
  }
  
  .container .card {
    height: 272px;
    min-width: 230px;
    max-width: 230px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  
  .card img:hover {
    transform: scale(1.2);
  }
  
  .card p {
    position: absolute;
    bottom: 1px;
    background-color: #F7F7F7;
    color: rgb(0, 0, 0);
    padding: 0px 2px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    left: 10px;
  }
  

  .container .card {
    height: 272px;
    min-width: 230px;
    max-width: 230px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  
  .card img:hover {
    transform: scale(1.2);
  }
  
  .card p {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    left: 30px;
  }
  
  /* App */
  .app {
    margin-top: 10rem;
  }
  
  .app .caption {
    display: none;
  }
  
  .app .backdrop-text {
    z-index: 1;
  }
  
  .app .container {
    background: #e21b70;
    min-height: 485px;
    z-index: -1;
  }
  
  .container .max-w-xl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
    padding: 1rem;
  }
  
  .container .image-container {
    position: relative;
    max-width: 424px;
    min-height: 250px;
    width: 100%;
    text-align: center;
  }
  
  .image-container img {
    position: absolute;
    width: 100%;
    max-width: 424px;
    z-index: 2;
    top: -80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .content-container .sub-heading {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .content-container .text {
    font-size: 0.9rem;
    margin: 1rem 0;
  }
  
  .content-container .buttons-container {
    display: flex;
    justify-content: center;
  }
  
  .buttons-container .center-svg {
    margin: 0 1rem;
  }
  
  /* Office */
  .office {
    margin-top: 10rem;
  }
  
  .office .background-image {
    background: url("./images/office-bg.png");
    min-height: 280px;
    background-size: cover;
    height: 100%;
    background-position: center;
    z-index: -1;
  }
  
  .office .content {
    margin-top: -10rem !important;
  }
  
  /* FAQ */
  
  .FAQ {
    padding: 1rem;
    margin-top: 10rem;
    width: 100%;
  }
  
  .FAQ .heading {
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: bold;
    line-height: 2.1rem;
  }
  
  .FAQ .text {
    margin-top: 1.5rem;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  
  .FAQ .text > a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  .FAQ .list {
    list-style-type: none;
    width: 100%;
    margin-top: 1.5rem;
  }
  
  .FAQ .list > li {
    width: 100%;
    font-weight: lighter;
    line-height: 1.8rem;
  }
  
  .FAQ li > span {
    color: var(--primary-color);
  }
  
  .FAQ .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.201);
    margin-top: 1.5rem;
  }
  
  .FAQ .sub-heading {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: bolder;
  }
  
  .FAQ .bold-text {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .FAQ .indented {
    padding-left: 2rem;
  }
  
  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  footer .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.201);
    margin: 1.5rem auto;
  }
  
  /* Footer > Branding */
  footer .branding {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .branding > svg {
    width: 10rem;
  }
  
  .branding .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socials img {
    width: 30px;
    margin-left: 1rem;
  }
  
  /* Footer > Links */
  .links {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .links .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    line-height: 1.7rem;
  }
  
  .links a {
    text-decoration: none;
    color: rgb(137, 135, 135);
    font-weight: lighter;
    font-size: 0.9rem;
  }
  
  .links a:hover {
    color: var(--primary-color);
  }
  
  .first-col p {
    color: rgb(137, 135, 135);
    font-weight: lighter;
    font-size: 0.9rem;
  }
  
  /* Footer > Countries */
  .countries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .countries a {
    text-decoration: none;
    color: rgb(137, 135, 135);
    font-weight: lighter;
  }
  
  .countries .vertical-divider {
    width: 1px;
    background-color: rgb(137, 135, 135);
    margin: 0 1rem;
    height: 18px;
  }
  
  /* Media Queries */
  @media screen and (min-width: 768px) {
    nav > .logo > svg {
      display: inline;
    }
  
    section.hero {
      padding: 0 2rem;
    }
  
    .hero .bg-wrapper {
      max-height: 900px;
    }
  
    .hero .actions {
      background-color: white;
      box-shadow: 0 0.3rem 2rem rgb(0 0 0 /10%);
      display: flex;
      padding: 1rem;
      max-width: 960px;
    }
  
    .actions input {
      box-shadow: none;
    }
  
    .actions .input-container {
      width: 80%;
    }
  
    .actions button {
      margin: 0;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
    }
  
    /* Partners Section */
    .partners .backdrop-text {
      padding: 0 3rem;
    }
  
    .partners .caption {
      padding: 0 3rem;
    }
  
    .partners .background-image {
      min-height: 404px;
    }
  
    .partners .content {
      margin: 0 3rem;
      margin-top: -20rem;
      max-width: 350px;
      padding: 2rem;
    }
  
    .content p {
      font-size: 1rem;
    }
  
    .content .header-text {
      font-size: 1.5rem;
    }
  
    .content .button {
      font-size: 1rem;
    }
  
    /* App */
    .app .container {
      min-height: 314px;
    }
  
    .app .caption {
      display: block;
    }
  
    .container .max-w-xl {
      flex-direction: row-reverse;
    }
  
    .container .content-container {
      width: 55%;
      text-align: left;
      margin-right: auto;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }
  
    .container .image-container {
      width: 45%;
      text-align: right;
      max-height: 480px;
    }
  
    .image-container img {
      min-width: 500px;
    }
  
    .content-container .sub-heading {
      font-size: 1.8rem;
    }
  
    .content-container .buttons-container {
      margin-top: 1rem;
    }
  }
  
  @media screen and (min-width: 960px) {
    nav > .profile-icon-medium {
      display: none;
    }
  
    nav .login-btn {
      display: inline-flex;
    }
  
    .hero .bg-wrapper {
      max-height: 400px;
    }
  
    /* Partners Section */
    .partners .content {
      max-width: 450px;
    }
  
    /* Cities */
    .cities .container {
      flex-wrap: wrap;
      overflow: hidden;
      justify-content: space-evenly;
    }
  
    /* App */
    .app .container {
      padding: 0 2rem;
    }
  
    .image-container img {
      min-width: 600px;
    }
  
    .content-container .buttons-container {
      margin-top: 2rem;
    }
  
    /* Links */
    .links {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .links .col {
      align-items: start;
      justify-content: start;
    }
  }
  
  @media screen and (min-width: 1264px) {
    .hero .bg-wrapper {
      max-height: 500px;
    }
  
    .hero h3 {
      font-size: 2.8rem;
    }
  
    /* Partners Section */
    .partners .content {
      max-width: 600px;
      text-align: right;
    }
  
    .content button {
      max-width: 240px;
      margin-top: 2rem;
    }
  
    .content p {
      text-align: left;
    }
  
    .partners .backdrop-text {
      font-size: 10rem;
      top: -130px;
      left: -40px;
    }
  
    .partners .caption {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .hero .bg-wrapper {
      max-height: 550px;
    }
  }
  

  